
<script>
  var SERVER_URL = 'http://localhost:60001/auth/v1'

  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1202560163500292',
      cookie     : true,
      xfbml      : true,
      version    : 'v11.0'
    });
      
    FB.AppEvents.logPageView();   
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
  
  FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
  });
  
    function tgLogin() {
        var accessToken = FB.getAuthResponse().accessToken;
        fetch(SERVER_URL + '/tokens/facebook',{
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            'accessToken': accessToken,
          })
        })
    }
</script>

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v11.0&appId=1202560163500292&autoLogAppEvents=1" nonce="7uuziFzC">
</script>

<button style="width: 200px; height: 100px" id="login" onclick="tgLogin()">Login</button>

<div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>